<div style="font-size: 14pt; line-height: 24px; color: #333; font-family: sans-serif;">
    <p>Welcome {{name}}, what's up?</p>
    <p>You created a new account in Twitter API REST, your user is: {{username}}</p>
    <p>
      See you there!
      <strong>Twitter API REST Group</strong>
    </p>
</div>
